/*
.columns {
    margin-top: -.75rem;
    margin-left: -.75rem;
    margin-right: -.75rem;
}

.column.is-one-third, .column.is-one-third-tablet {
    width: 33.3333%;
    flex: none;
}

.column.is-one-quarter, .column.is-one-quarter-desktop {
    width: 25%;
    flex: none;
}

.column.is-two-thirds, .column.is-two-thirds-tablet {
    width: 66.6666%;
    flex: none;
}

.column.is-three-quarters, .column.is-three-quarters-desktop {
    width: 75%;
    flex: none;
}

.mainContainer .primary-holder, .mainContainer .left-container, .mainContainer .right-container {
    padding-top: 1.5rem;
}

.scrolling-column {
    height: 200px;
    width: 18%;
    overflow:hidden;
    overflow-y:scroll;
}

.is-vertically-scrollable {
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    overflow-y: auto;
}
*/
.TOC {
    float: left;
    position: sticky;
    width: 300px;
    left: 0px;
    top: 0px;
    scroll-behavior: smooth;
    height: 1000px;
    overflow-y: scroll;
    white-space: nowrap;
}