---
layout: base
---
<div>
    <div id="left-container">
    <!--
        <span data-bi-name="tree-expander" class="tree-expander">
            <span class="tree-expander-indicator docon docon-chevron-right-light" aria-hidden="true"></span>
            Overview
        </span>
    -->
        <ul class="TOC" role="group">
            <!--{%- for n in range(0,10) -%}
            <li>Something {{ n }}</li>-->
            <li role="none">
                <a href="https://learn.microsoft.com/en-us/powershell/scripting/overview?view=powershell-7.3">
                    What is PowerShell?
                </a>
            </li>
            <li role="none">
                <a href="https://learn.microsoft.com/en-us/powershell/scripting/powershell-commands?view=powershell-7.3">
                    What is a PowerShell command?
                </a>
            </li>
            <li role="none">
                <a href="https://learn.microsoft.com/en-us/powershell/scripting/discover-powershell?view=powershell-7.3">
                    Discover PowerShell
                </a>
            </li>
            <!-- {%- endfor -%} -->
        </ul>
    </div>
    <div id="right-container">
        {{ content }}
    </div>
</div>